<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<main>
		<div class="container">
			<h1 class="title fs-46 fs-36-laptop fs-24-mob">Список страниц</h1>
			<table class="iksweb links">
				<tbody>
					<thead>
						<th><b>Страница</b></th>
						<th><b>Статус</b></th>
					</thead>
					<tr>
						<td><a href="./main.html">Главная</a></td>
						<td>+</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<style>
		h1 {
			padding-top: 30px;
			margin-bottom: 16px;
		}
		table.iksweb {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			height: auto;
			text-align: left;
		}
		table.iksweb,
		table.iksweb td,
		table.iksweb th {
			border: 1px solid #595959;
		}
		table.iksweb td,
		table.iksweb th {
			width: 30px;
			height: 35px;
			padding: 10px;
		}
		table.iksweb td:first-child{
			padding: 0;
		}
		table.iksweb th {
			font-weight: normal;
		}
		table.iksweb a {
			display: block;
			padding: 10px;
		}
		table.iksweb b {
			font-weight: 500;
		}
	</style>
</html>
