<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const clients = require('./layouts/components/clients.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="intro text-lowercase first-section-from-header">
            <div class="container">
                <div class="intro__row pv-100 pv-80-laptop pv-50-tablet">
                    <div class="intro__head">
                        <h1 class="visually-hidden">Web/Mobile-разработка с фокусом на целесообразность и достижимость результата</h1>
                        <div class="intro__title title fs-46 fs-36-laptop fs-24-mob">Web/Mobile-разработка <br> с&nbsp;фокусом <span class="intro__decor c-brand-550 fs-38 js-decor">digital Agency</span> на&nbsp;целесообразность <br> и&nbsp;достижимость результата</div>
                    </div>
                    <div class="intro__body">
                        <div class="intro__text c-gray-500">
                            <p>компания реализует проекты заказчика через партнерскую коллаборацию с интегратором, web/mobile-разработчиком, маркетинговым партнером или с помощью наших штатных консультантов, специалистов</p>
                        </div>
                        <div class="intro__list">
                            <div class="intro__list-col">
                                <div class="title fs-24 mb-4">
                                    <span data-duration="3000" data-start="599" class="js-counter">875 +</span>
                                </div>
                                <p class="c-gray-500">выполнено проектов</p>
                            </div>
                            <div class="intro__list-col">
                                <div class="title fs-24 mb-4">
                                    <span data-duration="3000" data-start="299" class="js-counter">430</span>
                                </div>
                                <p class="c-gray-500">лучших  подрядчиков РФ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-slider text-lowercase pv-100 pv-60-laptop pv-32-tablet pv-24-mob">
            <div class="container">
                <div>
                    <a href="#" class="btn btn--secondary btn--full">
                        <span>посмотреть все проекты</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66846C8.08522 1.66846 1.66797 8.08571 1.66797 16.0018C1.66797 23.9179 8.08522 30.3351 16.0013 30.3351C23.9174 30.3351 30.3346 23.9179 30.3346 16.0018C30.3346 8.08571 23.9174 1.66846 16.0013 1.66846Z" fill="white"/>
                            <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="projects-slider__wrapper js-tickers">
                <div class="projects-slider__row js-ticker js-ticker--projects">
                    <div data-item-ticker class="projects-slider__col">
                        <div class="projects-slider__card _small">
                            <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                <img src="images/content/projects-slider-01.jpg" alt="">
                            </a>
                            <div class="projects-slider__body links">
                                <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                <div class="c-gray-300">
                                    <p>Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-item-ticker class="projects-slider__col">
                        <div class="projects-slider__card _medium">
                            <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                <img src="images/content/projects-slider-02.jpg" alt="">
                            </a>
                            <div class="projects-slider__body links">
                                <a href="#" class="title fs-24 mb-4">УНПК МФТИ</a>
                                <div class="c-gray-300">
                                    <p>Учебно-научный пропедевтический комплекс Московского физико-технического института. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-item-ticker class="projects-slider__col">
                        <div class="projects-slider__card _big">
                            <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                <img src="images/content/projects-slider-03.jpg" alt="">
                            </a>
                            <div class="projects-slider__body links">
                                <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                <div class="c-gray-300">
                                    Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- clients() -%>
        <div class="boss text-lowercase">
            <div class="container">
                <div class="boss__row">
                    <div class="boss__decor js-decor">boss</div>
                    <div class="boss__text c-gray-500">
                        <div>
                            <p>Мы&nbsp;&mdash; команда профессионалов, которая превращает ваши идеи в&nbsp;мощные digital-решения. Доверьтесь нам, и&nbsp;мы&nbsp;создадим продукт, который выделит ваш бизнес среди конкурентов и&nbsp;принесет реальный результат!</p>
                        </div>
                        <div>
                            <p>Работая с&nbsp;нами, вы&nbsp;получаете не&nbsp;просто исполнителя, а&nbsp;надежного партнера, который всегда готов предложить свежие идеи и&nbsp;эффективные решения</p>
                        </div>
                    </div>
                    <div class="boss__img-wrapper">
                        <div class="boss__img item-response">
                            <img loading="lazy" src="images/content/boss.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boss__list">
                <div class="container">
                    <div class="boss__list-row">
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">2349</div>
                            <p>реализованных проектов в различных сферах</p>
                        </div>
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">67+</div>
                            <p>Реализовал федеральных проектов для компаний  ТОП-200 Forbes</p>
                        </div>
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">7+</div>
                            <p>Построил 7+ отделов продаж с ростом выручки х2 год к году</p>
                        </div>
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">B2B</div>
                            <p>B2B продажам и автором курса «Продажи в IT»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partners text-lowercase pv-100 pv-60-laptop pv-24-mob">
            <div class="container">
                <div class="partners__title fs-16 fs-14-mob c-gray-600">партнеры</div>
                <div class="partners__row">
                    <div class="partners__col _empty">

                    </div>
                    <div class="partners__col _bg">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/02.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col _bg-second">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/03.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col _bg">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/04.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/05.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/06.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col _empty">

                    </div>
                    <div class="partners__col _bg">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/07.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/08.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/09.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col _bg-second">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/10.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col _bg-second">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/11.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partners__col">
                        <div class="card-partners">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/12.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partners__banner">
                    <div class="partners__banner-decor js-decor">BEST FRIENDS</div>
                    <div class="partners__banner-text">
                        <div class="ff-second fs-24 c-brand-550">430+</div>
                        <p>партнеров</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner pv-100 pv-60-laptop pv-32-tablet pv-24-mob">
            <div class="container">
                <div class="banner__item item-response">
                    <video loop muted="muted" controls playsinline webkit-playinginline preload="metadata" class="js-video">
                        <source src="videos/banner.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                    <div class="banner__title title">EFIMOV</div>
                </div>
                <div class="banner__decor js-decor">Showreel</div>
            </div>
        </div>
        <div class="services text-lowercase pv-100 pv-60-laptop pv-40-tablet pv-24-mob">
            <div class="container">
                <div class="text-center mb-40 mb-32-laptop mb-24-tablet">
                    <h2 class="fs-16 fs-14-mob c-gray-600">Услуги</h2>
                </div>
                <div class="mb-40 mb-32-laptop mb-24-tablet">
                    <div class="services__row text-center">
                        <div class="services__col links">
                            <div class="title fs-24 mb-30 mb-16-mob">разработка</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        web.сайт
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        mobile
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        1c
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        TG-бот
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="services__col links">
                            <div class="title fs-24 mb-30 mb-16-mob">аналитика</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        Техническая поддержка
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Аналитика
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Проектирование
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Конкурентный анализ
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="services__col links">
                            <div class="title fs-24 mb-30 mb-16-mob">Дизайн</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        UX/UI
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        веб
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        графический
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        бренднинг
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn--secondary btn--full">
                        <span>все услуги</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66797C8.08522 1.66797 1.66797 8.08522 1.66797 16.0013C1.66797 23.9174 8.08522 30.3346 16.0013 30.3346C23.9174 30.3346 30.3346 23.9174 30.3346 16.0013C30.3346 8.08522 23.9174 1.66797 16.0013 1.66797Z" fill="white"/>
                            <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </main>

<%- footer() -%>