<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="intro first-section-from-header">
            <div class="container">
                <div class="intro__row pv-100 pv-80-laptop pv-50-tablet">
                    <div class="intro__head">
                        <h1 class="visually-hidden">Web/Mobile-разработка с фокусом на целесообразность и достижимость результата</h1>
                        <div class="intro__title title fs-46 fs-36-laptop fs-24-mob">Web/Mobile-разработка <br> с&nbsp;фокусом <span class="intro__decor ff-third c-brand-550 fs-38 js-decor">digital Agency</span> на&nbsp;целесообразность <br> и&nbsp;достижимость результата</div>
                    </div>
                    <div class="intro__body">
                        <div class="intro__text c-gray-500">
                            <p>компания реализует проекты заказчика через партнерскую коллаборацию с интегратором, web/mobile-разработчиком, маркетинговым партнером или с помощью наших штатных консультантов, специалистов</p>
                        </div>
                        <div class="intro__list">
                            <div class="intro__list-col">
                                <div class="title fs-24 mb-4">875+</div>
                                <p class="c-gray-500">выполнено проектов</p>
                            </div>
                            <div class="intro__list-col">
                                <div class="title fs-24 mb-4">430</div>
                                <p class="c-gray-500">лучших  подрядчиков РФ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-slider pv-100 pv-60-laptop pv-32-tablet pv-24-mob js-auto-width-slider">
            <div class="container">
                <div>
                    <a href="#" class="btn btn--secondary btn--full">
                        <span>посмотреть все проекты</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66846C8.08522 1.66846 1.66797 8.08571 1.66797 16.0018C1.66797 23.9179 8.08522 30.3351 16.0013 30.3351C23.9174 30.3351 30.3346 23.9179 30.3346 16.0018C30.3346 8.08571 23.9174 1.66846 16.0013 1.66846Z" fill="white"/>
                            <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="projects-slider__wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="projects-slider__card _small">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/content/projects-slider-01.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            <p>Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _medium">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/content/projects-slider-02.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">УНПК МФТИ</a>
                                        <div class="c-gray-300">
                                            <p>Учебно-научный пропедевтический комплекс Московского физико-технического института. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _big">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/content/projects-slider-03.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _small">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/content/projects-slider-01.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            <p>Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _medium">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/content/projects-slider-02.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">УНПК МФТИ</a>
                                        <div class="c-gray-300">
                                            <p>Учебно-научный пропедевтический комплекс Московского физико-технического института. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _big">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/content/projects-slider-03.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients pv-100 pv-60-laptop pv-40-tablet pv-24-mob">
            <div class="container">
                <h2 class="clients__title fs-16 fs-14-mob c-gray-600">клиенты</h2>
                <div class="clients__row">
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/01.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">

                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>UX/UI дизайн</li>
                                    <li>брендинг</li>
                                    <li>техническая поддержка</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/02.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>разработка mobile</li>
                                    <li>разработка web.сайта </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/03.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>разработка web.сайта </li>
                                    <li>техническая поддержка</li>
                                    <li>Аналитика</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/04.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>UX/UI дизайн </li>
                                    <li>Аналитика</li>
                                    <li>Проектирование</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/05.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>разработка mobile</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/06.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                <div class="card-clients__tag">
                                    NDA
                                    <svg class="ico ico-24" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.53033 2.46967C3.23744 2.17678 2.76256 2.17678 2.46967 2.46967C2.17678 2.76256 2.17678 3.23744 2.46967 3.53033L4.68861 5.74927C2.36419 7.67946 1.25 10.3097 1.25 12C1.25 13.485 2.10654 15.663 3.83476 17.4577C5.5928 19.2834 8.28446 20.75 12 20.75C14.4611 20.75 16.4783 20.1062 18.0737 19.1343L20.4697 21.5303C20.7626 21.8232 21.2374 21.8232 21.5303 21.5303C21.8232 21.2374 21.8232 20.7626 21.5303 20.4697L18.7046 17.6439L6.35611 5.29545L3.53033 2.46967ZM14.068 15.1286L12.97 14.0306C12.6762 14.1712 12.3473 14.2499 11.9999 14.2499C10.7573 14.2499 9.74991 13.2425 9.74991 11.9999C9.74991 11.6525 9.82862 11.3236 9.96919 11.0298L8.87121 9.93187C8.47857 10.5247 8.24991 11.2356 8.24991 11.9999C8.24991 14.071 9.92884 15.7499 11.9999 15.7499C12.7642 15.7499 13.4751 15.5213 14.068 15.1286ZM9.19036 5.09792C10.0305 4.87735 10.9651 4.75 12 4.75C15.2845 4.75 17.5928 6.03338 19.0848 7.58273C20.6065 9.16305 21.25 10.985 21.25 12C21.25 12.7242 20.9206 13.886 20.1383 15.0918C20.0385 15.2456 19.9317 15.3994 19.8179 15.5524C19.5707 15.8847 19.6397 16.3546 19.9721 16.6018C20.3044 16.849 20.7743 16.78 21.0215 16.4476C21.1545 16.2688 21.2795 16.0887 21.3966 15.9082C22.2895 14.5321 22.75 13.0899 22.75 12C22.75 10.515 21.8935 8.33695 20.1652 6.54227C18.4072 4.71662 15.7155 3.25 12 3.25C10.8409 3.25 9.77804 3.3928 8.80946 3.64709C8.62754 3.69485 8.44903 3.74652 8.27391 3.80189C7.87897 3.92675 7.66002 4.34814 7.78489 4.74309C7.90975 5.13803 8.33114 5.35697 8.72609 5.23211C8.87761 5.1842 9.03236 5.1394 9.19036 5.09792Z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                <li>разработка mobile</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/07.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>разработка web.сайта </li>
                                    <li>техническая поддержка</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/08.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>разработка web.сайта </li>
                                    <li>разработка mobile</li>
                                    <li>Аналитика</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/09.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>брендинг</li>
                                    <li>разработка mobile</li>
                                    <li>UX/UI дизайн </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/10.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                <div class="card-clients__tag">
                                    NDA
                                    <svg class="ico ico-24" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.53033 2.46967C3.23744 2.17678 2.76256 2.17678 2.46967 2.46967C2.17678 2.76256 2.17678 3.23744 2.46967 3.53033L4.68861 5.74927C2.36419 7.67946 1.25 10.3097 1.25 12C1.25 13.485 2.10654 15.663 3.83476 17.4577C5.5928 19.2834 8.28446 20.75 12 20.75C14.4611 20.75 16.4783 20.1062 18.0737 19.1343L20.4697 21.5303C20.7626 21.8232 21.2374 21.8232 21.5303 21.5303C21.8232 21.2374 21.8232 20.7626 21.5303 20.4697L18.7046 17.6439L6.35611 5.29545L3.53033 2.46967ZM14.068 15.1286L12.97 14.0306C12.6762 14.1712 12.3473 14.2499 11.9999 14.2499C10.7573 14.2499 9.74991 13.2425 9.74991 11.9999C9.74991 11.6525 9.82862 11.3236 9.96919 11.0298L8.87121 9.93187C8.47857 10.5247 8.24991 11.2356 8.24991 11.9999C8.24991 14.071 9.92884 15.7499 11.9999 15.7499C12.7642 15.7499 13.4751 15.5213 14.068 15.1286ZM9.19036 5.09792C10.0305 4.87735 10.9651 4.75 12 4.75C15.2845 4.75 17.5928 6.03338 19.0848 7.58273C20.6065 9.16305 21.25 10.985 21.25 12C21.25 12.7242 20.9206 13.886 20.1383 15.0918C20.0385 15.2456 19.9317 15.3994 19.8179 15.5524C19.5707 15.8847 19.6397 16.3546 19.9721 16.6018C20.3044 16.849 20.7743 16.78 21.0215 16.4476C21.1545 16.2688 21.2795 16.0887 21.3966 15.9082C22.2895 14.5321 22.75 13.0899 22.75 12C22.75 10.515 21.8935 8.33695 20.1652 6.54227C18.4072 4.71662 15.7155 3.25 12 3.25C10.8409 3.25 9.77804 3.3928 8.80946 3.64709C8.62754 3.69485 8.44903 3.74652 8.27391 3.80189C7.87897 3.92675 7.66002 4.34814 7.78489 4.74309C7.90975 5.13803 8.33114 5.35697 8.72609 5.23211C8.87761 5.1842 9.03236 5.1394 9.19036 5.09792Z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                <li>брендинг</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/11.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>Аналитика</li>
                                    <li>Проектирование</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clients__col">
                        <a href="#" class="card-clients">
                            <div class="card-clients__head">
                                <div class="card-clients__logo item-response">
                                    <img src="images/content/clients/12.png" alt="">
                                </div>
                                <div class="ico ico-24 ico-12-tablet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-clients__body">
                                
                            </div>
                            <div class="card-clients__bottom">
                                <ul>
                                    <li>разработка mobile</li>
                                    <li>UX/UI дизайн </li>
                                    <li>брендинг</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="boss">
            <div class="container">
                <div class="boss__row">
                    <div class="boss__decor ff-third js-decor">boss</div>
                    <div class="boss__text c-gray-500">
                        <div>
                            <p>Мы&nbsp;&mdash; команда профессионалов, которая превращает ваши идеи в&nbsp;мощные digital-решения. Доверьтесь нам, и&nbsp;мы&nbsp;создадим продукт, который выделит ваш бизнес среди конкурентов и&nbsp;принесет реальный результат!</p>
                        </div>
                        <div>
                            <p>Работая с&nbsp;нами, вы&nbsp;получаете не&nbsp;просто исполнителя, а&nbsp;надежного партнера, который всегда готов предложить свежие идеи и&nbsp;эффективные решения</p>
                        </div>
                    </div>
                    <div class="boss__img-wrapper">
                        <div class="boss__img item-response">
                            <img src="images/content/boss.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boss__list">
                <div class="container">
                    <div class="boss__list-row">
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">2349</div>
                            <p>реализованных проектов в различных сферах</p>
                        </div>
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">67+</div>
                            <p>Реализовал федеральных проектов для компаний  ТОП-200 Forbes</p>
                        </div>
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">7+</div>
                            <p>Построил 7+ отделов продаж с ростом выручки х2 год к году</p>
                        </div>
                        <div class="boss__list-col">
                            <div class="title fs-64 fs-40-mob mb-10">B2B</div>
                            <p>B2B продажам и автором курса «Продажи в IT»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partners pv-100 pv-60-laptop pv-24-mob">
            <div class="container">
                <div class="partners__title fs-16 fs-14-mob c-gray-600">партнеры</div>
                <div class="partners__row">
                    <div class="partners__col _empty">

                    </div>
                    <div class="partners__col _bg">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/01.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/02.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col _bg-second">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/03.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col _bg">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/04.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/05.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/06.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col _empty">

                    </div>
                    <div class="partners__col _bg">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/07.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/08.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/09.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col _bg-second">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/10.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col _bg-second">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/11.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="partners__col">
                        <a href="#" class="card-partners" aria-label="Логотип партнера">
                            <div class="card-partners__img item-response">
                                <img loading="lazy" src="images/content/partners/12.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="partners__banner">
                    <div class="partners__banner-decor ff-third js-decor">BEST FRIENDS</div>
                    <div class="partners__banner-text">
                        <div class="ff-second fs-24 c-brand-550">430+</div>
                        <p>партнеров</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner pv-100 pv-60-laptop pv-32-tablet pv-24-mob">
            <div class="container">
                <div class="banner__item item-response">
                    <video loop muted="muted" controls playsinline webkit-playinginline preload="metadata" class="js-video">
                        <source src="videos/banner.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                    </video>
                    <div class="banner__title title">EFIMOV</div>
                </div>
                <div class="banner__decor ff-third js-decor">Showreel</div>
            </div>
        </div>
        <div class="services pv-100 pv-60-laptop pv-40-tablet pv-24-mob">
            <div class="container">
                <div class="text-center mb-40 mb-32-laptop mb-24-tablet">
                    <h2 class="fs-16 fs-14-mob c-gray-600">Услуги</h2>
                </div>
                <div class="mb-40 mb-32-laptop mb-24-tablet">
                    <div class="services__row text-center">
                        <div class="services__col links">
                            <div class="title fs-24 mb-30 mb-16-mob">разработка</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        web.сайт
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        mobile
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        1c
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        TG-бот
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="services__col">
                            <div class="title fs-24 mb-30 mb-16-mob">аналитика</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        Техническая поддержка
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Аналитика
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Проектирование
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Конкурентный анализ
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="services__col">
                            <div class="title fs-24 mb-30 mb-16-mob">Дизайн</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        UX/UI
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        веб
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        графический
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        бренднинг
                                        <svg class="ico ico-24" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8029 10.3027C15.397 10.8968 15.694 11.1938 15.8053 11.5363C15.9032 11.8375 15.9032 12.162 15.8053 12.4633C15.694 12.8058 15.397 13.1028 14.8029 13.6968L13.5971 14.9027C12.3119 16.1879 11.6694 16.8304 11.1177 16.8738C10.639 16.9115 10.1712 16.7177 9.85939 16.3526C9.5 15.9318 9.5 15.0231 9.5 13.2057L9.5 10.7939C9.5 8.97645 9.5 8.06772 9.85939 7.64693C10.1712 7.28182 10.639 7.08805 11.1177 7.12573C11.6694 7.16914 12.3119 7.81171 13.5971 9.09684L14.8029 10.3027Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn--secondary btn--full">
                        <span>все услуги</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66797C8.08522 1.66797 1.66797 8.08522 1.66797 16.0013C1.66797 23.9174 8.08522 30.3346 16.0013 30.3346C23.9174 30.3346 30.3346 23.9174 30.3346 16.0013C30.3346 8.08522 23.9174 1.66797 16.0013 1.66797Z" fill="white"/>
                            <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </main>

<%- footer() -%>