<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const pag = require('./layouts/components/pag.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="news text-lowercase first-section-from-header">
            <div class="container">
                <div class="head-with-filters">
                    <h1 class="title fs-46">статьи</h1>
                    <div class="chips chips--second fs-16 fs-14-mob js-switch">
                        <div class="chips__row">
                            <label class="chips__label">
                                <input type="checkbox" class="chips__input js-switch-input" name="type-news" data-all="true" checked>
                                <span class="chips__body">
                                    <span>все <span>240</span></span>
                                </span>
                            </label>
                            <label class="chips__label">
                                <input type="checkbox" class="chips__input js-switch-input" name="type-news">
                                <span class="chips__body">
                                    <span>дизайн <span>24</span></span>
                                </span>
                            </label>
                            <label class="chips__label">
                                <input type="checkbox" class="chips__input js-switch-input" name="type-news">
                                <span class="chips__body">
                                    <span>аналитика <span>25</span></span>
                                </span>
                            </label>
                            <label class="chips__label">
                                <input type="checkbox" class="chips__input js-switch-input" name="type-news">
                                <span class="chips__body">
                                    <span>бизнес <span>26</span></span>
                                </span>
                            </label>
                            <label class="chips__label">
                                <input type="checkbox" class="chips__input js-switch-input" name="type-news">
                                <span class="chips__body">
                                    <span>smm <span>14</span></span>
                                </span>
                            </label>
                            <label class="chips__label">
                                <input type="checkbox" class="chips__input js-switch-input" name="type-news">
                                <span class="chips__body">
                                    <span>разработка <span>68</span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="news__body">
                    <div class="news__row">
                        <!-- Порядок рендера, как по мобильному макету: большая - две маленьких - большая - маленькая -->
                        <div class="news__col">
                            <div class="card-news">
                                <a href="./news-detailed.html" class="card-news__img item-response">
                                    <img src="images/news/01.jpg" alt="">
                                </a>
                                <div class="card-news__body links">
                                    <div class="card-news__row">
                                        <div class="card-news__tags fs-16 fs-14-mob">
                                            <div class="card-news__tag">дизайн</div>
                                            <div class="card-news__tag">искуственный интеллект</div>
                                            <div class="card-news__tag">ux/ui</div>
                                        </div>
                                        <a href="./news-detailed.html" class="card-news__ico ico ico-24">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <a href="./news-detailed.html" class="card-news__title title fs-24 fs-20-tablet">Конвертер резюме на основе ИИ: как автоматизация ускоряет работу с данными</a>
                                </div>
                            </div>
                        </div>
                        <div class="news__col">
                            <div class="card-news">
                                <a href="#" class="card-news__img item-response">
                                    <img src="images/news/02.jpg" alt="">
                                </a>
                                <div class="card-news__body links">
                                    <div class="card-news__row">
                                        <div class="card-news__tags fs-16 fs-14-mob">
                                            <div class="card-news__tag">дизайн</div>
                                            <div class="card-news__tag">ux/ui</div>
                                        </div>
                                        <a href="#" class="card-news__ico ico ico-24">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <a href="#" class="card-news__title title fs-24 fs-20-tablet">Литературные тропы в дизайне метафоры и их разновидности</a>
                                </div>
                            </div>
                        </div>
                        <div class="news__col">
                            <div class="card-news">
                                <a href="#" class="card-news__img item-response">
                                    <img src="images/news/03.jpg" alt="">
                                </a>
                                <div class="card-news__body links">
                                    <div class="card-news__row">
                                        <div class="card-news__tags fs-16 fs-14-mob">
                                            <div class="card-news__tag">аутстафф</div>
                                        </div>
                                        <a href="#" class="card-news__ico ico ico-24">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <a href="#" class="card-news__title title fs-24 fs-20-tablet">Как эффективно работать по модели аутстаффа или что нужно знать каждому заказчику</a>
                                </div>
                            </div>
                        </div>
                        <div class="news__col">
                            <div class="card-news">
                                <a href="#" class="card-news__img item-response">
                                    <img src="images/news/04.jpg" alt="">
                                </a>
                                <div class="card-news__body links">
                                    <div class="card-news__row">
                                        <div class="card-news__tags fs-16 fs-14-mob">
                                            <div class="card-news__tag">дизайн</div>
                                            <div class="card-news__tag">искуственный интеллект</div>
                                            <div class="card-news__tag">ux/ui</div>
                                        </div>
                                        <a href="#" class="card-news__ico ico ico-24">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <a href="#" class="card-news__title title fs-24 fs-20-tablet">Конвертер резюме на основе ИИ: как автоматизация ускоряет работу с данными</a>
                                </div>
                            </div>
                        </div>
                        <div class="news__col">
                            <div class="card-news">
                                <a href="#" class="card-news__img item-response">
                                    <img src="images/news/05.jpg" alt="">
                                </a>
                                <div class="card-news__body links">
                                    <div class="card-news__row">
                                        <div class="card-news__tags fs-16 fs-14-mob">
                                            <div class="card-news__tag">разработка</div>
                                            <div class="card-news__tag">API</div>
                                        </div>
                                        <a href="#" class="card-news__ico ico ico-24">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <a href="#" class="card-news__title title fs-24 fs-20-tablet">Как интегрировать сайт с внешними сервисами</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-60 mt-44-mob">
                    <%- pag() -%>
                </div>
            </div>
        </div>
    </main>

<%- footer() -%>