<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const pag = require('./layouts/components/pag.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="typography text-lowercase first-section-from-header">
            <div class="container">
                <div class="typography__head">
                    <h1>Конвертер резюме на основе ИИ: <br> как автоматизация ускоряет работу с данными</h1>
                    <div class="typography__tags">
                        <div>дизайн</div>
                        <div>бизнес</div>
                        <div>smm</div>
                        <div>разработка</div>
                    </div>
                    <div class="typography__banner item-response">
                        <picture>
                            <source media="(max-width: 767px)" srcset="images//news-detailed-01-mob.jpg">
                            <img src="images//news-detailed-01.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="typography__container fs-16">
                    <div class="typography__info fs-14">
                        <div>
                            <time>
                                <img src="images//icons/time.svg" alt="">
                                10 мин
                            </time>
                            <time>
                                <img src="images//icons/calendar.svg" alt="">
                                26.02.2026
                            </time>
                        </div>
                        <div>
                            <div class="typography__share">
                                <p>Поделиться</p>
                                <div class="typography__share-links">
                                    <a href="#">
                                        <img src="images//icons/vk.svg" alt="">
                                    </a>
                                    <a href="#">
                                        <img src="images//icons/telegram.svg" alt="">
                                    </a>
                                    <a href="#">
                                        <img src="images//icons/whatsapp.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="typography__row">
                        <h2>Конвертер резюме на основе ИИ — это программное решение, которое использует технологии искусственного интеллекта, машинного обучения и обработки естественного языка (NLP) для автоматического анализа, структурирования и преобразования резюме в удобный для работы формат.</h2>
                    </div>
                    <div class="typography__row">
                        <h2>Преимущества использования конвертера резюме на основе ИИ</h2>
                        <div>
                            <p>Одним из главных преимуществ конвертера резюме на основе ИИ является значительная экономия времени. Ручная обработка резюме может занимать часы или даже дни, особенно если речь идет о большом количестве соискателей. ИИ способен обрабатывать сотни резюме за считанные минуты, что позволяет рекрутерам сосредоточиться на более важных задачах, таких как собеседования и оценка кандидатов.</p>
                        </div>
                    </div>
                    <div class="typography__rows">
                        <div class="typography__row">
                            <h3>Экономия времени</h3>
                            <div>
                                <p>Одним из главных преимуществ конвертера резюме на основе ИИ является значительная экономия времени. Ручная обработка резюме может занимать часы или даже дни, особенно если речь идет о большом количестве соискателей. ИИ способен обрабатывать сотни резюме за считанные минуты, что позволяет рекрутерам сосредоточиться на более важных задачах, таких как собеседования и оценка кандидатов.</p>
                            </div>
                        </div>
                        <div class="typography__row">
                            <h3>Уменьшение человеческих ошибок</h3>
                            <div>
                                <p>Одним из главных преимуществ конвертера резюме на основе ИИ является значительная экономия времени. Ручная обработка резюме может занимать часы или даже дни, особенно если речь идет о большом количестве соискателей. ИИ способен обрабатывать сотни резюме за считанные минуты, что позволяет рекрутерам сосредоточиться на более важных задачах, таких как собеседования и оценка кандидатов.</p>
                            </div>
                        </div>
                        <div class="typography__row">
                            <h3>Улучшение качества данных</h3>
                            <div>
                                <p>Одним из главных преимуществ конвертера резюме на основе ИИ является значительная экономия времени. Ручная обработка резюме может занимать часы или даже дни, особенно если речь идет о большом количестве соискателей. ИИ способен обрабатывать сотни резюме за считанные минуты, что позволяет рекрутерам сосредоточиться на более важных задачах, таких как собеседования и оценка кандидатов.</p>
                            </div>
                        </div>
                        <div class="typography__row">
                            <h3>Автоматизация рутинных задач</h3>
                            <div>
                                <p>Одним из главных преимуществ конвертера резюме на основе ИИ является значительная экономия времени. Ручная обработка резюме может занимать часы или даже дни, особенно если речь идет о большом количестве соискателей. ИИ способен обрабатывать сотни резюме за считанные минуты, что позволяет рекрутерам сосредоточиться на более важных задачах, таких как собеседования и оценка кандидатов.</p>
                            </div>
                        </div>
                        <div class="typography__row">
                            <h3>Улучшение кандидатского опыта</h3>
                            <div>
                                <p>С развитием технологий ИИ и машинного обучения конвертеры резюме будут становиться все более умными и точными. В будущем такие системы смогут не только извлекать и структурировать данные, но и анализировать их, например, оценивать соответствие кандидата требованиям вакансии, прогнозировать успешность кандидата на основе его опыта и навыков, и даже предлагать рекомендации по улучшению резюме.</p>
                            </div>
                        </div>
                    </div>
                    <div class="typography__row">
                        <h2>Будущее конвертеров резюме на основе ИИ</h2>
                        <div>
                            <p>Конвертер резюме на основе ИИ — это мощный инструмент, который позволяет значительно ускорить и упростить процесс обработки резюме. Благодаря автоматизации рутинных задач, рекрутеры могут сосредоточиться на более важных аспектах своей работы, таких как оценка кандидатов и проведение собеседований. С развитием технологий ИИ такие инструменты будут становиться все более умными и эффективными, что сделает процесс найма еще более быстрым и точным.</p>
                            <p>Внедрение конвертера резюме на основе ИИ — это не только шаг к автоматизации, но и инвестиция в будущее HR-процессов. Компании, которые уже сегодня используют такие технологии, получают конкурентное преимущество на рынке труда, привлекая лучших кандидатов и оптимизируя свои процессы.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-news other-cards text-lowercase pv-100 pv-32-tablet js-auto-width-slider">
            <div class="container">
                <h2 class="other-cards__title title fs-46 fs-24-tablet">другие новости</h2>
                <div class="other-cards__head">
                    <a href="#" class="btn btn--secondary btn--full">
                        <span>все новости</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66797C8.08522 1.66797 1.66797 8.08522 1.66797 16.0013C1.66797 23.9174 8.08522 30.3346 16.0013 30.3346C23.9174 30.3346 30.3346 23.9174 30.3346 16.0013C30.3346 8.08522 23.9174 1.66797 16.0013 1.66797Z" fill="white"/>
                            <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <div class="nav-slider links hide-tablet">
                        <button type="button" class="nav-slider__btn js-btn-prev">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" transform="rotate(180 16 16)" fill="currentColor"/>
                                <path class="nav-slider__ico-arrow" d="M21.332 16L10.6654 16M10.6654 16L14.6654 20M10.6654 16L14.6654 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button type="button" class="nav-slider__btn js-btn-next">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="currentColor"/>
                                <path class="nav-slider__ico-arrow" d="M10.668 16H21.3346M21.3346 16L17.3346 12M21.3346 16L17.3346 20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="other-cards__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card-other-news">
                                    <a href="#" class="card-other-news__img item-response">
                                        <img loading="lazy" src="images//other-news/01.png" alt="">
                                    </a>
                                    <div class="card-other-news__body links">
                                        <div class="card-other-news__row">
                                            <div class="card-other-news__tags fs-16 fs-14-mob">
                                                <div class="card-other-news__tag">дизайн</div>
                                                <div class="card-other-news__tag">ux/ui</div>
                                            </div>
                                            <a href="#" class="card-other-news__ico ico ico-24">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#" class="card-other-news__title title fs-24 fs-20-tablet">Литературные тропы в дизайне метафоры и их разновидности</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-other-news">
                                    <a href="#" class="card-other-news__img item-response">
                                        <img loading="lazy" src="images//other-news/02.jpg" alt="">
                                    </a>
                                    <div class="card-other-news__body links">
                                        <div class="card-other-news__row">
                                            <div class="card-other-news__tags fs-16 fs-14-mob">
                                                <div class="card-other-news__tag">аутстафф</div>
                                            </div>
                                            <a href="#" class="card-other-news__ico ico ico-24">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#" class="card-other-news__title title fs-24 fs-20-tablet">Как эффективно работать по модели аутстаффа или что нужно знать каждому заказчику</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-other-news">
                                    <a href="#" class="card-other-news__img item-response">
                                        <img loading="lazy" src="images//other-news/03.jpg" alt="">
                                    </a>
                                    <div class="card-other-news__body links">
                                        <div class="card-other-news__row">
                                            <div class="card-other-news__tags fs-16 fs-14-mob">
                                                <div class="card-other-news__tag">разработка</div>
                                                <div class="card-other-news__tag">API</div>
                                            </div>
                                            <a href="#" class="card-other-news__ico ico ico-24">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#" class="card-other-news__title title fs-24 fs-20-tablet">Как интегрировать сайт с внешними сервисами</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-other-news">
                                    <a href="#" class="card-other-news__img item-response">
                                        <img loading="lazy" src="images//other-news/01.png" alt="">
                                    </a>
                                    <div class="card-other-news__body links">
                                        <div class="card-other-news__row">
                                            <div class="card-other-news__tags fs-16 fs-14-mob">
                                                <div class="card-other-news__tag">дизайн</div>
                                                <div class="card-other-news__tag">ux/ui</div>
                                            </div>
                                            <a href="#" class="card-other-news__ico ico ico-24">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#" class="card-other-news__title title fs-24 fs-20-tablet">Литературные тропы в дизайне метафоры и их разновидности</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-other-news">
                                    <a href="#" class="card-other-news__img item-response">
                                        <img loading="lazy" src="images//other-news/02.jpg" alt="">
                                    </a>
                                    <div class="card-other-news__body links">
                                        <div class="card-other-news__row">
                                            <div class="card-other-news__tags fs-16 fs-14-mob">
                                                <div class="card-other-news__tag">аутстафф</div>
                                            </div>
                                            <a href="#" class="card-other-news__ico ico ico-24">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#" class="card-other-news__title title fs-24 fs-20-tablet">Как эффективно работать по модели аутстаффа или что нужно знать каждому заказчику</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-other-news">
                                    <a href="#" class="card-other-news__img item-response">
                                        <img loading="lazy" src="images//other-news/03.jpg" alt="">
                                    </a>
                                    <div class="card-other-news__body links">
                                        <div class="card-other-news__row">
                                            <div class="card-other-news__tags fs-16 fs-14-mob">
                                                <div class="card-other-news__tag">разработка</div>
                                                <div class="card-other-news__tag">API</div>
                                            </div>
                                            <a href="#" class="card-other-news__ico ico ico-24">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="currentColor"/>
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#" class="card-other-news__title title fs-24 fs-20-tablet">Как интегрировать сайт с внешними сервисами</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- footer() -%>