<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const pag = require('./layouts/components/pag.ejs');
const clients = require('./layouts/components/clients.ejs');
const partners = require('./layouts/components/partners.ejs');
const otherProjects = require('./layouts/components/other-projects.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="head-service two-cols text-lowercase first-section-from-header">
            <div class="container">
                <div class="head-service__decor js-decor _small">mobile</div>
                <div class="head-service__wrapper two-cols__row">
                    <div class="two-cols__head"></div>
                    <div class="head-service__body two-cols__body">
                        <div class="title fs-46 fs-24-mob">Разработка Mobile</div>
                        <div class="head-service__text fs-16 fs-14-mob">
                            <p>Мы создаем удобные и функциональные мобильные приложения для iOS и Android, которые решают бизнес-задачи и улучшают взаимодействие с клиентами. От идеи до публикации в магазинах приложений – полный цикл разработки с учетом UX/UI-дизайна, интеграции с сервисами и дальнейшей поддержкой</p>
                        </div>
                        <div class="head-service__btns">
                            <button type="button" aria-label="Open popup" data-popup-trigger="popup-request"  class="btn btn--secondary btn--full">
                                <span>обсудить проект</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66797C8.08522 1.66797 1.66797 8.08522 1.66797 16.0013C1.66797 23.9174 8.08522 30.3346 16.0013 30.3346C23.9174 30.3346 30.3346 23.9174 30.3346 16.0013C30.3346 8.08522 23.9174 1.66797 16.0013 1.66797Z" fill="white"/>
                                    <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="choice two-cols text-lowercase pv-100 pv-60-laptop pv-40-tablet">
            <div class="container">
                <div class="two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="fs-16 fs-14-mob c-gray-600 mb-20-mob">какой выбрать?</h2>
                    </div>
                    <div class="two-cols__body">
                        <div class="choice__row">
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div>
                                            <h3 class="title fs-24 fs-20-tablet mb-4">Кроссплатформенные приложения</h3>
                                            <p class="c-gray-550">Эффективные решения с использованием Flutter</p>
                                        </div>
                                        <div class="ico ico-48 ico-46-tablet">
                                            <img src="images/choice/06.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <div class="card-choice__info">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>цена от: 1 млн ₽   </div>
                                        </div>
                                        <div>
                                            <p>Разработка приложений для iOS и Android с использованием flutter — Единый код, высокая производительность , безупречный интерфейс вашего продукта</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Максимальная производительность</div>
                                        <div class="card-choice__tag">Улучшенный UX</div>
                                        <div class="card-choice__tag">Оптимизация под платформу</div>
                                    </div>
                                </div>
                            </div>
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div>
                                            <h3 class="title fs-24 fs-20-tablet mb-4">нативные приложения</h3>
                                            <p class="c-gray-550">Оптимизированные решения для каждой платформы (ios / android)</p>
                                        </div>
                                        <div class="ico ico-48 ico-46-tablet">
                                            <img src="images/choice/07.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <div class="card-choice__info">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>цена от: 1 млн ₽   </div>
                                        </div>
                                        <div>
                                            <p>индивидуальные решения для iOS и Android. Разрабатываем приложения, максимально использующие возможности каждой ОС для безупречной работы</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Максимальная производительность</div>
                                        <div class="card-choice__tag">Улучшенный UX</div>
                                        <div class="card-choice__tag">Оптимизация под платформу</div>
                                    </div>
                                </div>
                            </div>
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div>
                                            <h3 class="title fs-24 fs-20-tablet mb-4">Серверная часть / Интеграции</h3>
                                            <p class="c-gray-550">Основы функциональности вашего мобильного приложения</p>
                                        </div>
                                        <div class="ico ico-48 ico-46-tablet">
                                            <img src="images/choice/08.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <div class="card-choice__info">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>цена от: 1 млн ₽   </div>
                                        </div>
                                        <div>
                                            <p>основа работы вашего приложения. Разрабатываем надежную серверную архитектуру и подключаем необходимые API для бесперебойной работы системы</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Масштабируемая архитектура</div>
                                        <div class="card-choice__tag">RESTful и GraphQL API</div>
                                        <div class="card-choice__tag">Безопасность данных</div>
                                        <div class="card-choice__tag">Мониторинг и поддержка</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- clients() -%>
        <div class="partners partners--detailed text-lowercase pv-100 pv-60-laptop pv-24-mob">
            <div class="container">
                <div class="partners__wrapper">
                    <div class="partners__title fs-16 fs-14-mob c-gray-600">
                        <div>партнеры</div>
                    </div>
                    <div>
                        <div class="title text-normal fs-64 fs-46-laptop fs-24-mob mb-80 mb-40-laptop mb-20-tablet">Подберем лучших мобильных разработчиков из списка <span class="c-brand-550">14&nbsp;лидеров рынка</span></div>
                        <div class="partners__row">
                            <div class="partners__col _bg">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/01.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/02.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col _bg-second">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/03.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col _bg">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/04.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/05.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/06.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col _bg">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/07.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/08.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/09.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col _bg-second">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/10.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col _bg-second">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/11.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="partners__col">
                                <div class="card-partners">
                                    <div class="card-partners__img item-response">
                                        <img loading="lazy" src="images/partners/12.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="partners__banner">
                            <div class="partners__banner-decor js-decor">BEST FRIENDS</div>
                            <div class="partners__banner-text">
                                <div class="title fs-24">+132 компании</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="road text-lowercase pv-100 pv-60-laptop pv-40-tablet ">
            <div class="container">
                <div class="road__head">
                    <div class="fs-16 fs-14-mob c-gray-600 mb-20-mob">Как мы работаем</div>
                </div>
                <div class="road__row">
                    <div class="road__col _brand">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">старт</div>
                            <div class="road__line"></div>
                        </div>
                    </div>
                    <div class="road__col">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">Исследование и постановка задач</div>
                            <div class="road__info">
                                <div class="road__info-line"></div>
                                <div class="road__info-text">написание технического задания</div>
                            </div>
                        </div>
                    </div>
                    <div class="road__col">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">Проектирование UX/UI </div>
                            <div class="road__info">
                                <div class="road__info-line"></div>
                                <div class="road__info-text">написание технического задания</div>
                            </div>
                        </div>
                    </div>
                    <div class="road__col">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">Разработка серверной части</div>
                            <div class="road__info">
                                <div class="road__info-line"></div>
                                <div class="road__info-text">написание технического задания</div>
                            </div>
                        </div>
                    </div>
                    <div class="road__col">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">Разработка клиентской части</div>
                        </div>
                    </div>
                    <div class="road__col">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">Интеграция с Back-end заказчика и внешними системами 
                            </div>
                            <div class="road__info">
                                <div class="road__info-line"></div>
                                <div class="road__info-text">написание технического задания</div>
                            </div>
                        </div>
                    </div>
                    <div class="road__col">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">Выпуск и поддержка</div>
                            <div class="road__info">
                                <div class="road__info-line"></div>
                                <div class="road__info-text">написание технического задания</div>
                            </div>
                        </div>
                    </div>
                    <div class="road__col _brand">
                        <div class="road__item">
                            <div class="road__circle item-response"></div>
                            <div class="road__title">финиш</div>
                            <div class="road__line"></div>
                        </div>
                    </div>
                </div>
                <div class="text-road">
                    <div class="text-road__wrapper">
                        <div class="text-road__row fs-16 fs-14-mob">
                            <div class="text-road__col">
                                <div class="text-road__item">
                                    <p>Создание веб-сайта — это как строительство цифрового дома: сначала рождается идея, затем дизайнеры рисуют его облик, наполняя красками и удобством. Программисты оживляют макет, вплетая в него интерактив и логику, словно проводя электричество и воду в новое здание.</p>
                                </div>
                            </div>
                            <div class="text-road__col">
                                <div class="text-road__item">
                                    <p>А когда всё готово, сайт отправляется в открытый интернет-океан, где его встречают первые посетители, клики и впечатления.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools two-cols text-lowercase pv-100 pv-60-laptop pv-40-tablet">
            <div class="container">
                <div class="two-cols__row">
                    <div class="two-cols__head">
                        <h2 class="fs-16 fs-14-mob c-gray-600 mb-20-mob">инструменты и технологии</h2>
                    </div>
                    <div>
                        <div class="tools__wrapper js-mobile-slider">
                            <h3 class="fs-16 fs-14-mob c-gray-600 mb-20 mb-8-mob">frontend</h3>
                            <div class="tools__body two-cols__body swiper">
                                <div class="tools__row swiper-wrapper">
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/12.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>html5</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/13.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>css3</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/07.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>javascript</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/01.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>react.js</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/14.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>vue.js</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tools__wrapper js-mobile-slider">
                            <h3 class="fs-16 fs-14-mob c-gray-600 mb-20 mb-8-mob">backend</h3>
                            <div class="tools__body two-cols__body swiper">
                                <div class="tools__row swiper-wrapper">
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/10.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>php</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/15.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>python</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/02.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>node.js</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/16.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>.net</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/17.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>java</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tools__wrapper js-mobile-slider">
                            <h3 class="fs-16 fs-14-mob c-gray-600 mb-20 mb-8-mob">cms</h3>
                            <div class="tools__body two-cols__body swiper">
                                <div class="tools__row swiper-wrapper">
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/18.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>1С-Битрикс</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tools__wrapper js-mobile-slider">
                            <h3 class="fs-16 fs-14-mob c-gray-600 mb-20 mb-8-mob">Базы данных</h3>
                            <div class="tools__body two-cols__body swiper">
                                <div class="tools__row swiper-wrapper">
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/19.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>MySQL</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/20.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>PostgreSQL</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/21.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Redis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tools__wrapper js-mobile-slider">
                            <h3 class="fs-16 fs-14-mob c-gray-600 mb-20 mb-8-mob">DevOps и хостинг</h3>
                            <div class="tools__body two-cols__body swiper">
                                <div class="tools__row swiper-wrapper">
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/22.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Docker</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/23.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Kubernetes</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/24.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Nginx</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/25.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Apache</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/26.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>AWS</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/27.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Yandex.Cloud</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tools__wrapper js-mobile-slider">
                            <h3 class="fs-16 fs-14-mob c-gray-600 mb-20 mb-8-mob">Инструменты контроля версий</h3>
                            <div class="tools__body two-cols__body swiper">
                                <div class="tools__row swiper-wrapper">
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/28.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>Git</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools__col swiper-slide">
                                        <div class="card-tools">
                                            <div class="card-tools__logo item-response">
                                                <img src="images/tools/29.svg" alt="">
                                            </div>
                                            <div class="card-tools__body fs-14">
                                                <p>GitLab</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- otherProjects() -%>
    </main>

<%- footer() -%> 