<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const pag = require('./layouts/components/pag.ejs');
const clients = require('./layouts/components/clients.ejs');
const partners = require('./layouts/components/partners.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="head-service text-lowercase first-section-from-header">
            <div class="container">
                <div class="head-service__decor js-decor">web</div>
                <div class="head-service__wrapper">
                    <div class="head-service__body">
                        <div class="title fs-46 fs-24-mob">Разработка web.сайтов</div>
                        <div class="head-service__text fs-16 fs-14-mob">
                            <p>Создаем современные, быстрые и удобные сайты, которые работают на результат. продумываем дизайн, UX и функционал, чтобы ваш бизнес выделялся онлайн</p>
                        </div>
                        <div class="head-service__btns">
                            <button type="button" aria-label="Open popup" data-popup-trigger="popup-request"  class="btn btn--secondary btn--full">
                                <span>обсудить проект</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66797C8.08522 1.66797 1.66797 8.08522 1.66797 16.0013C1.66797 23.9174 8.08522 30.3346 16.0013 30.3346C23.9174 30.3346 30.3346 23.9174 30.3346 16.0013C30.3346 8.08522 23.9174 1.66797 16.0013 1.66797Z" fill="white"/>
                                    <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- clients() -%>
        <div class="choice text-lowercase pv-100 pv-60-laptop pv-40-tablet">
            <div class="container">
                <div class="choice__row">
                    <div class="choice__head">
                        <h2 class="fs-16 fs-14-mob c-gray-600 mb-20-mob">какой выбрать?</h2>
                    </div>
                    <div class="choice__body">
                        <div class="choice__cols">
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div class="ico ico-70 ico-46-tablet ico-28-mob">
                                            <img src="images/choice/01.svg" alt="">
                                        </div>
                                        <div>
                                            <h3 class="title fs-24 mb-16 mb-8-tablet">Корпоративный сайт</h3>
                                            <p class="c-gray-550">Ваше представительство в интернете</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <p>Ключевой инструмент для создания имиджа и презентации бизнеса в интернете. сайты, отражающие уникальность бренда и информацию о компании, услугах и достижениях</p>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Имиджевая платформа</div>
                                        <div class="card-choice__tag">адаптивность</div>
                                        <div class="card-choice__tag">seo-оптимизация</div>
                                    </div>
                                </div>
                            </div>
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div class="ico ico-70 ico-46-tablet ico-28-mob">
                                            <img src="images/choice/02.svg" alt="">
                                        </div>
                                        <div>
                                            <h3 class="title fs-24 mb-16 mb-8-tablet">B2C Интернет-магазин</h3>
                                            <p class="c-gray-550">Продавайте свои товары онлайн в розницу</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <p>функциональные и привлекательные магазины с высоким уровнем UX выведут ваши продажи на новый уровень, позволяя клиентам удобно покупать товары онлайн</p>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Онлайн-шопинг</div>
                                        <div class="card-choice__tag">Удобство оплаты и доставки</div>
                                        <div class="card-choice__tag">Широкий ассортимент</div>
                                    </div>
                                </div>
                            </div>
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div class="ico ico-70 ico-46-tablet ico-28-mob">
                                            <img src="images/choice/03.svg" alt="">
                                        </div>
                                        <div>
                                            <h3 class="title fs-24 mb-16 mb-8-tablet">Информационный портал</h3>
                                            <p class="c-gray-550">Центр знаний и новостей</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <p>представляет собой платформу, где пользователи могут находить актуальную информацию по различным темам, с акцентом на удобство поиска и доступность информации</p>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Многофункциональность</div>
                                        <div class="card-choice__tag">Актуальный контент</div>
                                        <div class="card-choice__tag">Широкая аудитория</div>
                                    </div>
                                </div>
                            </div>
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div class="ico ico-70 ico-46-tablet ico-28-mob">
                                            <img src="images/choice/04.svg" alt="">
                                        </div>
                                        <div>
                                            <h3 class="title fs-24 mb-16 mb-8-tablet">B2B Портал</h3>
                                            <p class="c-gray-550">Эффективное взаимодействие между бизнесами</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <p>платформа для оптовой торговли, которая соединяет производителей, поставщиков и оптовых покупателей. удобство работы для всех участников с акцентом на функциональность</p>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Автоматизация заказов</div>
                                        <div class="card-choice__tag">Масштабируемость</div>
                                        <div class="card-choice__tag">Упрощение взаимодействия</div>
                                        <div class="card-choice__tag">опт</div>
                                    </div>
                                </div>
                            </div>
                            <div class="choice__col">
                                <div class="card-choice">
                                    <div class="card-choice__head">
                                        <div class="ico ico-70 ico-46-tablet ico-28-mob">
                                            <img src="images/choice/05.svg" alt="">
                                        </div>
                                        <div>
                                            <h3 class="title fs-24 mb-16 mb-8-tablet">Landing Page</h3>
                                            <p class="c-gray-550">Привлечение клиентов на конкретные предложения</p>
                                        </div>
                                    </div>
                                    <div class="card-choice__body">
                                        <p>одностраничный сайт, который помогает быстро привлекать клиентов и увеличивать продажи. Идеален для рекламных кампаний, акций и презентации товаров или услуг</p>
                                    </div>
                                    <div class="card-choice__tags">
                                        <div class="card-choice__tag">Высокая конверсия</div>
                                        <div class="card-choice__tag">Фокус на одной цели</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- partners() -%>
        <div class="other-projects other-cards text-lowercase pv-100 pv-32-tablet js-auto-width-slider">
            <div class="container">
                <div class="other-cards__head">
                    <a href="#" class="btn btn--secondary btn--full">
                        <span>все проекты</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0013 1.66797C8.08522 1.66797 1.66797 8.08522 1.66797 16.0013C1.66797 23.9174 8.08522 30.3346 16.0013 30.3346C23.9174 30.3346 30.3346 23.9174 30.3346 16.0013C30.3346 8.08522 23.9174 1.66797 16.0013 1.66797Z" fill="white"/>
                            <path d="M10.668 16.001H21.3346M21.3346 16.001L17.3346 12.001M21.3346 16.001L17.3346 20.001" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <div class="nav-slider links hide-tablet">
                        <button type="button" class="nav-slider__btn js-btn-prev">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" transform="rotate(180 16 16)" fill="currentColor"/>
                                <path class="nav-slider__ico-arrow" d="M21.332 16L10.6654 16M10.6654 16L14.6654 20M10.6654 16L14.6654 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button type="button" class="nav-slider__btn js-btn-next">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="currentColor"/>
                                <path class="nav-slider__ico-arrow" d="M10.668 16H21.3346M21.3346 16L17.3346 12M21.3346 16L17.3346 20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="other-cards__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="projects-slider__card _small">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/projects-slider-01.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            <p>Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _medium">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images//projects-slider-02.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">УНПК МФТИ</a>
                                        <div class="c-gray-300">
                                            <p>Учебно-научный пропедевтический комплекс Московского физико-технического института. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _big">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images//projects-slider-03.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _small">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images/projects-slider-01.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            <p>Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _medium">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images//projects-slider-02.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">УНПК МФТИ</a>
                                        <div class="c-gray-300">
                                            <p>Учебно-научный пропедевтический комплекс Московского физико-технического института. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="projects-slider__card _big">
                                    <a href="#" class="projects-slider__img item-response" aria-label="Страница проекта">
                                        <img src="images//projects-slider-03.jpg" alt="">
                                    </a>
                                    <div class="projects-slider__body links">
                                        <a href="#" class="title fs-24 mb-4">Avito Авто</a>
                                        <div class="c-gray-300">
                                            Большая дилерская конференция «Высшая Передача». Создали лендинг для «Avito Авто» за 2 дня
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- footer() -%> 