<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs');
const clients = require('./layouts/components/clients.ejs');
%>
<%- header() -%>

    <main class="page">
        <div class="head-services text-lowercase first-section-from-header">
            <div class="container">
                <div class="head-services__wrapper">
                    <div class="head-services__text text-center">
                        Наша цель —  показать сильные позиции, передать ценности и подчеркнуть главное
                    </div>
                    <div class="head-services__row">
                        <div class="head-services__col">
                            <div class="head-services__item text-center">
                                <div class="title fs-100 fs-40-mob mb-4 js-counter" data-start-immediately data-duration="1250" data-start="200">320+</div>
                                <p class="fs-16 fs-14-mob c-gray-450">проектов</p>
                            </div>
                        </div>
                        <div class="head-services__col">
                            <div class="head-services__item text-center">
                                <div class="title fs-100 fs-40-mob mb-4 js-counter" data-start-immediately data-duration="1250" data-start="50">150+</div>
                                <p class="fs-16 fs-14-mob c-gray-450">наград на digital-конкурсах</p>
                            </div>
                        </div>
                        <div class="head-services__col">
                            <div class="head-services__item text-center">
                                <div class="title fs-100 fs-40-mob mb-4 js-counter" data-start-immediately data-duration="1250" data-start="0">90+</div>
                                <p class="fs-16 fs-14-mob c-gray-450">людей в команде</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-section text-lowercase">
            <div class="container">
                <div class="sticky-section__row">
                    <div class="sticky-section__side">
                        <div class="sticky-section__box">
                            <ul class="sticky-section__links js-sticky-side-list">
                                <li>
                                    <a data-href="development" href="#development">разработка</a>
                                </li>
                                <li>
                                    <a data-href="analytics" href="#analytics" >аналитика</a>
                                </li>
                                <li>
                                    <a data-href="design" href="#design" >дизайн</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sticky-section__body">
                        <div id="development" class="cards-services">
                            <div class="cards-services__row">
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Разработка веб-сайта</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">фронтенд</div>
                                            <div class="card-services__tag">бэкенд</div>
                                            <div class="card-services__tag">проектирование</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>создание и настройка сайта, включая дизайн, верстку, программирование и интеграцию функционала для работы в браузере</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">мобильная разработка</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">mobile</div>
                                            <div class="card-services__tag">кроссплатформа</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>cоздание приложений для смартфонов и планшетов, включая разработку интерфейса, функционала и адаптацию под разные платформы</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">1С-разработка</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">ERp</div>
                                            <div class="card-services__tag">автоматизация учета</div>
                                            <div class="card-services__tag">проектирование</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>настройка и программирование платформы 1С для автоматизации бизнес-процессов, таких как учет, управление и отчетность</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Разработка бота для Telegram</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">чат-боты</div>
                                            <div class="card-services__tag">Telegram API</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>создание автоматизированного помощника для мессенджера Telegram, который может выполнять задачи, отвечать на запросы и интегрироваться с другими сервисами</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="analytics" class="cards-services">
                            <div class="cards-services__row">
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Техническая поддержка</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">сопровождение</div>
                                            <div class="card-services__tag">устранение неполадок</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>оказание помощи пользователям в решении технических проблем, настройке оборудования или программного обеспечения, а также обеспечение стабильной работы систем</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Аналитика поддержка</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">анализ данных</div>
                                            <div class="card-services__tag">Data Science</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>оказание помощи пользователям в решении технических проблем, настройке оборудования или программного обеспечения, а также обеспечение стабильной работы систем</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Проектирование</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">архитектура</div>
                                            <div class="card-services__tag">прототипирование</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>создание технической документации, схем и прототипов для разработки продукта или системы, учитывая требования и ограничения</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Конкурентный анализ</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">SWot</div>
                                            <div class="card-services__tag">стратегия развития</div>
                                            <div class="card-services__tag">рыночные исследования</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>изучение рынка, продуктов и стратегий конкурентов для выявления их сильных и слабых сторон, а также определения возможностей для улучшения собственного продукта</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="design" class="cards-services">
                            <div class="cards-services__row">
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">UX/UI-дизайн</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">юзабилити</div>
                                            <div class="card-services__tag">прототипирование</div>
                                            <div class="card-services__tag">интерактивность</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>изучение рынка, продуктов и стратегий конкурентов для выявления их сильных и слабых сторон, а также определения возможностей для улучшения собственного продукта</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Веб-дизайн</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">адаптивность</div>
                                            <div class="card-services__tag">Ui-кит</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>сбор, обработка и интерпретация данных для выявления закономерностей, формирования выводов и принятия решений на основе аналитических отчетов</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Графический дизайн </div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">визуал</div>
                                            <div class="card-services__tag">типографика</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>создание технической документации, схем и прототипов для разработки продукта или системы, учитывая требования и ограничения</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cards-services__col">
                                    <a href="#" class="card-services">
                                        <div class="card-services__head">
                                            <div class="card-services__title title fs-24">Брендинг</div>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96644 1.25H10H14H14.0336H14.0336C15.4053 1.25 16.4807 1.24999 17.3451 1.32061C18.2252 1.39252 18.9523 1.54138 19.6104 1.87671C20.6924 2.42798 21.572 3.30762 22.1233 4.38955C22.4586 5.04769 22.6075 5.77479 22.6794 6.65494C22.75 7.51926 22.75 8.59466 22.75 9.96632V9.96637V9.96642V10V14V14.0336V14.0336V14.0337C22.75 15.4053 22.75 16.4807 22.6794 17.3451C22.6075 18.2252 22.4586 18.9523 22.1233 19.6104C21.572 20.6924 20.6924 21.572 19.6104 22.1233C18.9523 22.4586 18.2252 22.6075 17.3451 22.6794C16.4807 22.75 15.4053 22.75 14.0337 22.75H14.0336H14.0336H14H10H9.96642H9.96637H9.96632C8.59466 22.75 7.51926 22.75 6.65494 22.6794C5.77479 22.6075 5.04769 22.4586 4.38955 22.1233C3.30762 21.572 2.42798 20.6924 1.87671 19.6104C1.54138 18.9523 1.39252 18.2252 1.32061 17.3451C1.24999 16.4807 1.25 15.4053 1.25 14.0336V14V10V9.96644C1.25 8.59472 1.24999 7.51929 1.32061 6.65494C1.39252 5.77479 1.54138 5.04769 1.87671 4.38955C2.42798 3.30762 3.30762 2.42798 4.38955 1.87671C5.04769 1.54138 5.77479 1.39252 6.65494 1.32061C7.51928 1.24999 8.59472 1.25 9.96643 1.25H9.96644ZM10 7.25C9.58579 7.25 9.25 7.58579 9.25 8C9.25 8.41421 9.58579 8.75 10 8.75H14.1893L7.46967 15.4697C7.17678 15.7626 7.17678 16.2374 7.46967 16.5303C7.76256 16.8232 8.23744 16.8232 8.53033 16.5303L15.25 9.81066V14C15.25 14.4142 15.5858 14.75 16 14.75C16.4142 14.75 16.75 14.4142 16.75 14V8C16.75 7.58579 16.4142 7.25 16 7.25H10Z" fill="white"/>
                                            </svg>
                                        </div>
                                        <div class="card-services__tags c-gray-500">
                                            <div class="card-services__tag">позиционирование</div>
                                            <div class="card-services__tag">лого</div>
                                            <div class="card-services__tag">айдентика</div>
                                        </div>
                                        <div class="card-services__body">
                                            <p>изучение рынка, продуктов и стратегий конкурентов для выявления их сильных и слабых сторон, а также определения возможностей для улучшения собственного продукта</p>
                                        </div>
                                        <div class="card-services__bottom c-gray-500">
                                            <div>средний чек: 1 млн ₽</div>
                                            <div>реализованных проектов: 2394  </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- clients() -%>
    </main>

<%- footer() -%>