@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
		url('../fonts/Manrope-Medium.woff') format('woff2'),
		url('../fonts/Manrope-Medium.ttf') format('truetype');
}
@font-face {
	font-family: Impact;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Impact.woff2') format('woff2'),
		url('../fonts/Impact.woff') format('woff2'),
		url('../fonts/Impact.ttf') format('truetype');
}
@font-face {
	font-family: Kelsi;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Kelsi.woff2') format('woff2'),
		url('../fonts/Kelsi.woff') format('woff2'),
		url('../fonts/Kelsi.ttf') format('truetype');
}
