/* Breakpoints */
$max767: 'max-width: 767px';
$min768: 'min-width: 768px';
$max1023: 'max-width: 1023px';
$min1024: 'min-width: 1024px';
$max1439: 'max-width: 1439px';
$min1440: 'min-width: 1440px';
$hover: 'any-hover: hover';

/* Fonts */
$ff: 'Manrope', sans-serif;
$ffSecond: 'Impact', sans-serif;
$ffThird: 'Kelsi', sans-serif;

/* Colors */
$black: #0A0A0A;
$white: #FFFFFF;
$gray100: #F2F2F2;
$gray300: #D9D9D9;
$gray400: #BFBFBF;
$gray450: #B2B2B2;
$gray500: #A6A6A6;
$gray550: #999999;
$gray600:#8C8C8C;
$gray650: #808080;
$gray700: #4C4C4C;
$gray750: #333333;
$gray800: #262626;
$gray850: #1A1A1A;
$gray900: #000000;
$brand300: #CEF0DC;
$brand500: #22BB62;
$brand550: #0AB451;
$brand650: #099945;
$brand750: #07873D;
$brand900: #066C31;
$red500: #B11932;
$red750: #7F0015;

/* Times */
$time01: 0.1s;
$time03: 0.3s;
