<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Efimov</title>
	<meta name="description" content="Efimov">
	<meta name="keywords" content="Efimov">
	<meta property="og:title" content="Efimov">
	<meta property="og:description" content="Efimov">
	<meta property="og:image" content="images/content/test.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
</head>
<body>
<div class="wrapper">
	<header class="header text-lowercase js-header js-fixed-element">
		<div class="container">
			<div class="header__row">
				<a href="#" class="header__logo img-wh" aria-label="Логотип Efimov">
					<svg width="135" height="18" viewBox="0 0 135 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M43.5566 16.9559V0.175781H48.6294V16.9559H43.5566Z" fill="currentColor"/>
						<path d="M52.9766 16.9559V0.175781H61.0225L67.0944 11.3206L73.1416 0.175781H81.1375V16.9559H76.19L76.4399 3.99975L69.0436 16.9559H64.9957L57.7241 3.99975L57.8741 16.9559H52.9766Z" fill="currentColor"/>
						<path d="M96.1232 0C100.921 0 102.395 0.0503145 103.57 0.251575C106.144 0.72957 107.393 2.06292 107.743 4.75477C107.843 5.43403 107.892 6.79253 107.892 8.83029C107.892 12.8807 107.468 14.5159 106.044 15.6983C105.044 16.5537 103.645 16.9562 101.221 17.0568C100.321 17.1071 98.0976 17.1323 96.4732 17.1323C92.5001 17.1323 90.4761 17.0568 89.4769 16.8556C87.6277 16.5285 86.5533 15.8241 85.9285 14.5914C85.2789 13.3587 85.1289 12.1259 85.1289 8.45294C85.1289 5.63531 85.1789 4.93088 85.4789 3.79879C85.9537 2.01261 86.9281 1.05662 88.8021 0.503149C90.2013 0.100631 91.7256 0 96.1232 0ZM96.5232 4.10067C92.8 4.10067 91.7756 4.22648 91.126 4.70447C90.4513 5.23276 90.2513 6.06296 90.2513 8.47811C90.2513 10.9436 90.4513 11.8492 91.076 12.3775C91.7505 12.931 92.5752 13.0316 96.3984 13.0316C100.771 13.0316 101.671 12.8807 102.245 12.0756C102.72 11.4718 102.845 10.6165 102.845 8.37747C102.845 4.15101 102.77 4.10067 96.5232 4.10067Z" fill="currentColor"/>
						<path d="M118.759 16.9559L109.863 0.175781H115.46L122.032 12.8552L128.754 0.175781H134.401L125.181 16.9559H118.759Z" fill="currentColor"/>
						<path d="M0 0.175781H18.4658V3.97458H4.99751V6.86768H17.6911V10.1885H4.99751V13.1571H18.6406V16.9559H0V0.175781Z" fill="currentColor"/>
						<path d="M22.4492 16.9559V0.175781H40.1404V3.97458H27.4967V7.32053H39.4908V11.1193H27.4967V16.9559H22.4492Z" fill="currentColor"/>
					</svg>
				</a>
				<div class="header__menu">
					<div class="header__menu-wrapper">
						<div class="header__decor-menu ff-third show-mob">privet</div>
						<nav class="header__nav links fs-16 c-gray-300">
							<ul>
								<li class="_active"><span>проекты</span></li>
								<li><a href="#">услуги</a></li>
								<li><a href="#">о нас</a></li>
								<li><a href="#">контакты</a></li>
							</ul>
						</nav>
						<div class="header__btns">
							<button type="button" aria-label="Open popup" class="btn btn--primary btn--small btn--full-mob">
								<span>обсудить проект</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.00146C5.92487 1.00146 1 5.92633 1 12.0015C1 18.0766 5.92487 23.0015 12 23.0015C18.0751 23.0015 23 18.0766 23 12.0015C23 5.92633 18.0751 1.00146 12 1.00146Z" fill="white"/>
									<path d="M8 12.0005H16M16 12.0005L13 9.00049M16 12.0005L13 15.0005" stroke="#0A0A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<button type="button" aria-label="Toggle menu" class="header__burger show-mob js-trigger-menu" data-show-on="767">
					<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 4C0 1.79086 1.79086 0 4 0H28C30.2091 0 32 1.79086 32 4V28C32 30.2091 30.2091 32 28 32H4C1.79086 32 0 30.2091 0 28V4Z" fill="#262626"/>
						<path d="M10.668 12H21.3346" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M10.668 16H21.3346" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M15 20H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 4C0 1.79086 1.79086 0 4 0H28C30.2091 0 32 1.79086 32 4V28C32 30.2091 30.2091 32 28 32H4C1.79086 32 0 30.2091 0 28V4Z" fill="#262626"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4697 11.4697C11.7626 11.1768 12.2374 11.1768 12.5303 11.4697L16 14.9393L19.4697 11.4697C19.7626 11.1768 20.2374 11.1768 20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L17.0607 16L20.5303 19.4697C20.8232 19.7626 20.8232 20.2374 20.5303 20.5303C20.2374 20.8232 19.7626 20.8232 19.4697 20.5303L16 17.0607L12.5303 20.5303C12.2374 20.8232 11.7626 20.8232 11.4697 20.5303C11.1768 20.2374 11.1768 19.7626 11.4697 19.4697L14.9393 16L11.4697 12.5303C11.1768 12.2374 11.1768 11.7626 11.4697 11.4697Z" fill="white"/>
					</svg>
				</button>
			</div>
		</div>
	</header>