.projects-slider
    overflow: hidden
    .swiper
        overflow: visible
    &__wrapper
        margin-top: 40px
        margin-right: -6px
        margin-left: -6px
    .swiper-slide
        width: 412px
        padding-right: 6px
        padding-left: 6px
        @media ($max767)
            width: 232px
    &__card
        &._small
            .projects-slider__img:before
                padding-bottom: pct-s(207,400)
                @media ($max767)
                    padding-bottom: pct-s(207,220)
        &._medium
            .projects-slider__img:before
                padding-bottom: pct-s(287,400)
                @media ($max767)
                    padding-bottom: pct-s(287,220)
        &._big
            .projects-slider__img:before
                padding-bottom: pct-s(331,400)
                @media ($max767)
                    padding-bottom: pct-s(331,220)
    &__img
        display: block
        overflow: hidden
        border-radius: 12px


    &__body
        margin-top: 16px