.head-service
    overflow: hidden
    .container
        position: relative
    &__decor
        position: absolute
        top: 0
        right: 0
        font-size: 316px
        color: $gray750
        transform: rotate(10.945deg)
        @media ($max1439)
            font-size: 200px
        @media ($max1023)
            transform: rotate(10.945deg)
        @media ($max767)
            font-size: 96px
        &._medium
            font-size: 220px
            @media ($max1439)
                font-size: 180px
            @media ($max1023)
                font-size: 100px
            @media ($max767)
                font-size: 80
        &._small
            font-size: 160px
            @media ($max1439)
                font-size: 100px
            @media ($max1023)
                font-size: 64px
                    
    &__wrapper
        align-items: center
        min-height: 500px
        padding-top: 60px
        padding-bottom: 60px
        @media ($max1439)
            min-height: 400px
    &__body
        position: relative
        z-index: 1
        width: 100%
        max-width: 500px
    &__text
        opacity: 0.7
        margin-top: 34px
    &__btns
        margin-top: 20px
        @media ($max767)
            margin-top: 36px