.services

    &__row
        display: flex
        justify-content: space-between
        gap: 16px

        @media ($max767)
            flex-direction: column
            gap: 24px

    &__col
        @media ($min768)
            min-width: 230px

        ul
            display: flex
            flex-direction: column
            align-items: center
            gap: 20px

            @media ($max767)
                gap: 8px
        a
            display: inline-flex
            align-items: center
            gap: 4px
            padding: 10px 0
            transition-property: gap, color

            @media ($hover)
                &:hover
                    gap: 12px


.head-services
    &__wrapper
        padding-top: 60px
        padding-bottom: 100px
        @media ($max1439)
            padding-bottom: 60px
        @media ($max1023)
            padding-top: 40px
            padding-bottom: 40px
    &__text
        width: 100%
        max-width: 260px
        margin: 0 auto
        opacity: 0.7
    &__row
        display: flex
        justify-content: space-between
        margin-top: 75px
        @media ($max1439)
            margin-top: 60px
        @media ($max767)
            margin-top: 40px
    &__col
        width: 100%
        max-width: 200px
        &:nth-child(2)
            padding: 0 10px

.cards-services
    padding-top: 80px
    @media ($max767)
        padding-top: 100px
        margin-top: -40px
    &:first-child
        margin-top: -80px
        @media ($max767)
            margin-top: -100px
    &:last-child
        padding-bottom: 0
    &__row

        margin: -10px
        @media ($max1439)
            margin: -8px
        @media ($max1023)
            margin: -4px
        @media ($min768)
            display: flex
            flex-wrap: wrap
    &__col
        width: 100%
        padding: 10px
        @media ($max1439)
            padding: 8px
        @media ($max1023)
            padding: 4px
        @media ($min768)
            width: 50%

.card-services
    display: flex
    flex-direction: column
    height: 100%
    min-height: 300px
    padding: 20px
    border-radius: 8px
    border: solid 1px $gray750
    transition: background-color $time03

    @media ($max1439)
        min-height: 340px
    @media ($max767)
        min-height: 0
        pp: 8px

    @media ($hover)
        &:hover:not(:active)
            background-color: $brand550
            .card-services
                &__tags
                    color: $brand300
                &__bottom
                    color: $brand300
                    border-color: $brand500
        &:active
            transition-duration: $time01
            background-color: $brand900
    &__head
        display: flex
        justify-content: space-between
        align-items: flex-start
        gap: 8px
    &__title
        @media ($max767)
            max-width: 170px
    &__tags
        flex: 1 1 auto
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        gap: 0 16px
        margin-top: 20px
        transition: color $time03
        @media ($max1439)
            margin-top: 8px
    &__tag
        padding: 5px 0
    &__body
        margin-top: 20px
    &__bottom
        display: flex
        justify-content: space-between
        padding-top: 16px
        margin-top: 16px
        border-top: solid 1px $gray750
        transition-duration: $time03
        transition-property: color, border-color
        @media ($max1439)
            flex-direction: column
            padding-top: 8px
            margin-top: 8px
        > div
            padding: 5px 0