.sticky-section
    &__row
        display: flex
        gap: 123px
        @media ($max1439)
            gap: 56px
        @media ($max1023)
            gap: 8px
    &__side
        flex-shrink: 0
        width: 138px
    &__box
        position: sticky
        top: 73px
        left: 0
        width: 100%
    &__links
        display: flex
        flex-direction: column
        gap: 12px

        a
            display: block
            padding: 9px 12px
            border-radius: 8px
            transition: background-color $time03
            &._active
                background-color: $gray850
                pointer-events: none
                cursor: default
            @media ($hover)
                &:hover:not(._active)
                    background-color: $gray750
    &__body
        flex: 1 1 auto
        width: 100%