<div class="other-projects two-cols text-lowercase pv-100 pv-60-laptop pv-40-tablet">
    <div class="container">
        <div class="two-cols__row">
            <div class="two-cols__head">
                <h2 class="fs-16 fs-14-mob c-gray-600 mb-8-mob">еще кейсы этого заказчика</h2>
            </div>
            <div class="two-cols__body">
                <div class="other-projects__row">
                    <div class="other-projects__col">
                        <div class="card-other-projects">
                            <a href="#" class="card-other-projects__img item-response">
                                <img src="images/card-other-projects-01.jpg" alt="">
                            </a>
                            <div class="card-other-projects__body links">
                                <a href="#" class="title fs-24 mb-20 mb-16-tablet mb-8-mob">кейс о разработке логотипа</a>
                                <p>Логотип служит лицом компании, передавая её ценности, характер и уникальность</p>
                                <div class="card-other-projects__decor">
                                    <div class="js-decor">logo</div>
                                    <div class="js-decor">y</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="other-projects__col">
                        <div class="card-other-projects">
                            <a href="#" class="card-other-projects__img item-response">
                                <img src="images/card-other-projects-02.jpg" alt="">
                            </a>
                            <div class="card-other-projects__body links">
                                <a href="#" class="title fs-24 mb-20 mb-16-tablet mb-8-mob">кейс о разработке сайта</a>
                                <p>Логотип служит лицом компании, передавая её ценности, характер и уникальность</p>
                                <div class="card-other-projects__decor">
                                    <div class="js-decor _small">design</div>
                                    <div class="js-decor">y</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="other-projects__col">
                        <div class="card-other-projects">
                            <a href="#" class="card-other-projects__img item-response">
                                <img src="images/card-other-projects-01.jpg" alt="">
                            </a>
                            <div class="card-other-projects__body links">
                                <a href="#" class="title fs-24 mb-20 mb-16-tablet mb-8-mob">кейс о разработке логотипа</a>
                                <p>Логотип служит лицом компании, передавая её ценности, характер и уникальность</p>
                                <div class="card-other-projects__decor">
                                    <div class="js-decor">logo</div>
                                    <div class="js-decor">y</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>