<div class="partners text-lowercase pv-100 pv-60-laptop pv-24-mob">
    <div class="container">
        <div class="partners__title fs-16 fs-14-mob c-gray-600">партнеры</div>
        <div class="partners__row">
            <div class="partners__col _empty">

            </div>
            <div class="partners__col _bg">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/01.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/02.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col _bg-second">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/03.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col _bg">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/04.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/05.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/06.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col _empty">

            </div>
            <div class="partners__col _bg">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/07.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/08.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/09.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col _bg-second">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/10.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col _bg-second">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/11.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__col">
                <div class="card-partners">
                    <div class="card-partners__img item-response">
                        <img loading="lazy" src="images/partners/12.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="partners__banner">
            <div class="partners__banner-decor js-decor">BEST FRIENDS</div>
            <div class="partners__banner-text">
                <div class="ff-second fs-24 c-brand-550">430+</div>
                <p>партнеров</p>
            </div>
        </div>
    </div>
</div>