<div class="quote _white-bg two-cols pv-100 pv-60-laptop pv-40-mob">
    <div class="container">
        <div class="two-cols__row">
            <div class="two-cols__head"></div>
            <div class="quote__body two-cols__body">
                <div class="quote__text fs-16">
                    <p>Ребята приступили к&nbsp;работе сразу, без задержек&nbsp;&mdash; это приятно удивило! Быстро разобрались в&nbsp;моих пожеланиях, предложили несколько вариантов, и&nbsp;мы&nbsp;сразу нашли общий язык. Процесс организован четко: все этапы согласовываем, правки вносят оперативно.</p>
                    <p>Пока всё идёт просто отлично&nbsp;&mdash; чувствую, что проект в&nbsp;надёжных руках!</p>
                </div>
                <div class="quote__author">
                    <div class="ico ico-68">
                        <img src="images/quote-avatar.png" alt="">
                    </div>
                    <div>
                        <div class="fs-20 fw-700 mb-10">Максим Максимов</div>
                        <div class="text-lowercase">директор « Астория»</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>