<div class="quote two-cols pv-100 pv-60-laptop pv-40-mob">
    <div class="container">
        <div class="two-cols__row">
            <div class="two-cols__head"></div>
            <div class="quote__body two-cols__body">
                <div class="quote__ico img-wh">
                    <svg width="95" height="95" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M38.1378 27.0039C39.8399 25.6537 40.123 23.1823 38.7696 21.4839C37.4163 19.7856 34.9394 19.5033 33.2371 20.8536C18.8929 32.2314 16 47.0223 16 63.2143C16 69.7235 21.2886 75 27.8125 75C34.3363 75 39.6249 69.7235 39.6249 63.2143C39.6249 56.7055 34.3363 51.4286 27.8125 51.4286C26.6798 51.4286 25.5843 51.5877 24.5473 51.8847C25.9075 41.9498 29.6134 33.7655 38.1378 27.0039ZM78.9998 63.2143C78.9998 69.7235 73.7114 75 67.1873 75C60.6633 75 55.3749 69.7235 55.3749 63.2143C55.3749 47.0223 58.2677 32.2314 72.612 20.8536C74.3142 19.5033 76.7913 19.7856 78.1446 21.4839C79.4979 23.1823 79.2148 25.6537 77.5126 27.0039C68.9883 33.7655 65.2824 41.9498 63.9224 51.8847C64.9591 51.5877 66.0545 51.4286 67.1873 51.4286C73.7114 51.4286 78.9998 56.7055 78.9998 63.2143Z" fill="#262626"/>
                    </svg>
                </div>
                <div class="quote__text fs-16">
                    <p>Мы начали с монолитной архитектуры (PHP, Vue.js), чтобы быстро запустить проект. А когда стало понятно, какие функции действительно нужны, перешли на микросервисы (Python). Так мы получили и скорость, и гибкость, и надежность!</p>
                </div>
                <div class="quote__author">
                    <div class="ico ico-68">
                        <img src="images/quote-avatar-02.png" alt="">
                    </div>
                    <div>
                        <div class="fs-20 fw-700 mb-10">Максим Максимов</div>
                        <div class="text-lowercase">разработчик</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>