<div class="team-project two-cols text-lowercase pv-100 pv-40-mob">
    <div class="container">
        <div class="team-project__row two-cols__row fs-16">
            <div class="team-project__decor js-decor">v</div>
            <div class="two-cols__head">
                <h2 class="fs-16 c-gray-600 mb-32-mob">команда <sup>12</sup></h2>
            </div>
            <div class="team-project__body two-cols__body c-gray-600">
                <div class="team-project__cols">
                    <div class="team-project__col">
                        <div>разработчиков <sup>2</sup></div>
                    </div>
                    <div class="team-project__col">
                        <div>дизайнеров <sup>1</sup></div>
                    </div>
                    <div class="team-project__col">
                        <div>аналитиков <sup>5</sup></div>
                    </div>
                    <div class="team-project__col">
                        <div>менеджеров <sup>4</sup></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>