<div class="tools two-cols text-lowercase pv-100 pv-60-laptop pv-40-tablet">
    <div class="container">
        <div class="two-cols__row">
            <div class="two-cols__head">
                <h2 class="fs-16 fs-14-mob c-gray-600 mb-8-mob">инструменты</h2>
            </div>
            <div class="two-cols__body">
                <div class="tools__row">
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/01.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>react</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/02.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>node js</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/03.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>figma</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/04.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>adobe photoshop</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/05.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>adobe after effects</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/07.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>JavaScript</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/08.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>Bootstrap</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/09.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>1C-Битрикс</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/10.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>PHP</p>
                            </div>
                        </div>
                    </div>
                    <div class="tools__col">
                        <div class="card-tools">
                            <div class="card-tools__logo item-response">
                                <img src="images/tools/11.svg" alt="">
                            </div>
                            <div class="card-tools__body fs-14">
                                <p>tilda</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>